@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    min-width: 350px;
    scroll-behavior: smooth;
  }

  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  button:focus,
  input:focus,
  a:focus,
  textarea:focus {
    outline: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  svg {
    @apply max-h-full max-w-full;
  }
}
@layer components {
}
@layer utilities {
  .with-ring {
    @apply focus:ring-[3px] focus:ring-secondary/50;
  }
  .content-screen-height {
    height: calc(100vh - theme('spacing.header'));
  }

  .link-item-link:hover h2 {
    @apply text-secondary;
  }
  .link-item-link:hover p {
    @apply underline;
  }
}
